---
addons:
  sonarcloud:
    organization:   "$SONAR_ORGANIZATION"
    token:
      secure:       "$SONAR_TOKEN"
    github_token:
      secure:       "$GITHUB_ACCESS_TOKEN"
    branches:
      - master
      - /[build|chore|ci|docs|feat|fix|perf|refactor|revert|spike|style|test]\/.*/

jdk:
  - oraclejdk8

language: node_js

node_js:
  - 9
  - 8
  - 7

os:
  - linux
  - osx

notifications:
  webhooks: https://app.fossa.io/hooks/travisci

git:
  depth: 1

before_script:
   - npm dedupe

script:
  - npm run test:config
  - npm test

after_script:
  - npm run posttest:ci:coverage:codacy
  - sonar-scanner -Dproject.settings=./.github/config/sonar-project.properties -Dsonar.organization=$SONAR_ORGANIZATION -Dsonar.login=$SONAR_COMMONALITY_TOKEN -X

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script:
          # - npm run docs:changelog
          - npx travis-deploy-once "npx semantic-release"
