# .env.example, committed to repo
## See https://github.com/rolodato/dotenv/#readme
## ⛔️
## 🚫  DO NOT COMMIT YOUR ACTUAL .env file to version control.
## 🚫  It should only include environment-specific values such
## 🚫  as database passwords or API keys.
## 🚫  Your production database should have a different password
## 🚫  than your development database.
## 🚫
## 🚫  See https://github.com/motdotla/dotenv/#faq for details.

# ❗️❗️ ️ENV VARS required for readme-inspector CI workflows️❗️️❗️
## Add values to these ENV VARs and save to
## /usr/local/etc/readme-inspector/envvars/.env

## ♻️ GitHub
## {string} required
GH_TOKEN=

## ♻️ Codacy
## @see https://github.com/codacy/node-codacy-coverage/#installation
## {string} optional - used by npm-script test:ci:coverage:codacy
CODACY_PROJECT_TOKEN=

# {string} - Google Analytics trackingCode
GA_README_INSPECTOR="UA-117338111-1"

# ReadmeScore
## {string} required - The API endpoint that should evaluate a README's
## quality
API_ENDPOINT_README_SCORE="http://readme-score-api.herokuapp.com/score.json?url="

## 🔚
